* {
    box-sizing: border-box;
    margin: 0;
}
body{
    background-color: #fff6da;
    color: #fc6b3f;
    font-family: Helvetica;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
header, footer {
    display: flex;
    align-items: center;
    height: 60px;
}
header {
    padding-left: 15px;
    background-color: #262525;
    color: #fff6da;
    box-shadow: 1px 1px 3px 2px #84f2d6;

}
main {
    flex-grow: 1;
}
.text{
    padding: 30px;
    font-size: 24px;
    color:#fc6b3f;
    border-radius: 10px;
    border: #262525;
    height: 33px;
    width: auto;
}
.button{
    background-color: #f4511e;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    opacity: .8;
    transition: 0.9s;
}
#hits{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px auto 0 auto;
    width: 950px;
    flex-wrap: wrap;
}
h2{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-left: 15px;
    background-color: #eba691;
    color: #fff6da;
    border-radius: 5px;

}
ul {
    display:flex;
    font-family: Helvetica;
    display: flex;
    flex-direction: column;

}
li{
    text-align: left;
    justify-content: center;
    padding: 3px;
}

footer{
    justify-content: center;
    color: #262525;
}
.card{
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 30px;
    width: 400px;
    height: 250px;
    margin: 10px;
    border-radius: 15px;
    border: 10px solid #262525;
    color: #262525;
}
/* h2{
    color:#fc6b3f
} */